<?xml version="1.0" ?>
<robot name="galbot_one" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="enable_wheel_joints" default="false"/>
  <xacro:property name="PI" value="3.141592653589793"/>

  <!-- type options:
       - gripper (default): show both grippers
       - none: hide grippers (full-body visualization without end-effectors)
  -->
  <xacro:arg name="type" default="gripper"/>
  <!-- Collision: simple (primitives) | convex (visual meshes); arm/body/gripper (see components/*.xacro) -->
  <xacro:arg name="collider" default="convex"/>

  <xacro:include filename="$(find galbot_one_description)/xacro/components/chassis.xacro"/>
  <xacro:include filename="$(find galbot_one_description)/xacro/components/body.xacro"/>
  <xacro:include filename="$(find galbot_one_description)/xacro/components/arm.xacro"/>

  <xacro:galbot_one_arm name="left" direction="1"/>
  <xacro:galbot_one_arm name="right" direction="-1"/>
  <xacro:GalbotOneChassis enable_wheel_joints="$(arg enable_wheel_joints)"/>

  <joint name="left_arm_mount_joint" type="fixed">
    <origin rpy="0 ${PI} 0" xyz="0 0 -0.13"/>
    <parent link="arm_base"/>
    <child link="left_base_link"/>
  </joint>

  <joint name="right_arm_mount_joint" type="fixed">
    <origin  xyz="0 0 0.13"/>
    <parent link="arm_base"/>
    <child link="right_base_link"/>
  </joint>

  <xacro:if value="${'$(arg type)' == 'gripper'}">
    <xacro:include filename="$(find galbot_one_description)/xacro/components/gripper.xacro"/>
    <!-- Instantiate both grippers -->
    <xacro:Gripper name="right"/>
    <xacro:Gripper name="left"/>

    <!-- Mount gripper on flange (fixed) -->
    <joint name="left_gripper_mount_joint" type="fixed">
      <parent link="left_flange_mount_link"/>
      <child link="left_gripper_base"/>
    </joint>

    <!-- Mount gripper on flange (fixed) -->
    <joint name="right_gripper_mount_joint" type="fixed">
      <parent link="right_flange_mount_link"/>
      <child link="right_gripper_base"/>
    </joint>
  </xacro:if>
</robot>
