<?xml version="1.0" encoding="utf-8" ?>
<robot name="aloha v1" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="aloha_v1" params="arm:=r5">
		<xacro:include filename="$(find agilex_aloha_description)/xacro/base/tracer.xacro"/>
		<xacro:include filename="$(find agilex_aloha_description)/xacro/body/v1.xacro"/>

		<xacro:if value="${arm == 'x5'}">
			<xacro:include filename="$(find arx5_description)/xacro/X5.xacro"/>
			<xacro:X5 name="left" camera="d435"/>
			<xacro:X5 name="right" camera="d435"/>
		</xacro:if>

		<xacro:if value="${arm == 'r5'}">
			<xacro:include filename="$(find arx5_description)/xacro/R5.xacro"/>
			<xacro:R5 name="left" camera="d435" style="agilex"/>
			<xacro:R5 name="right" camera="d435" style="agilex"/>
		</xacro:if>

	</xacro:macro>
</robot>

